body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    font-size: 18px;
    background-color: white;
}

article {
    background-color: rgb(51, 102, 153);
    color: white;
    margin: 54px;
    padding: 36px;
    border-radius: 16px;
}
p:nth-child(2) {
    text-indent: 10%;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}